* {
  background: (255,255,255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: helvetica,arial,sans-serif;
    line-height: 1.5;
     cursor: url('img/custom-cursor.png') 10 10 , auto ; 

}



.grid {
  display: grid;
  grid-column: 3 ;
  margin: 0px;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
 /* grid-template-columns: repeat(3,1fr);*/
  justify-content: center;
  gap: 10px;
}
  
img,video{ 
    max-width: 100%;
    height:auto;
    display: block;
}

.item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

  }

.header{
    position: sticky;
    top: 0; /* Fixe l'en-tête en haut de la page */
    background-color: #ffffff00; /* Fond blanc */
    padding: 10px 40px; /* Un peu d'espace autour de l'en-tête */
    display: flex;
    justify-content: space-between; /* Espace entre les éléments gauche et droite */
    align-items: center;
    z-index: 1000; 
    /* S'assure que l'en-tête soit au-dessus du contenu */
    /* filter: blur(0); */
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    /* cursor: url('img/custom-cursor.png') 10 10, auto ; */
}

.header-title {
  font-size: 40px;
  /* font-weight: bold; */
  color: #333;  /* Couleur du nom */
  font-family: "mono45-headline", monospace;
  font-weight: 500;
  font-style: normal;
  

}

.header-right {
  display: flex;
  gap: 10px;
  
  }

  .capsule {
  
    padding: 12px 20px;
    background-color: #eae8e86c; 
    border-radius: 30px;
    color: #88a9d9; 
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 16px;
    
}

.capsule2 {
  padding: 12px 20px;
  background-color: #eae8e86c; 
  border-radius: 30px;
  color: #000000; 
  text-decoration: none;
  font-family: "mono45-headline", monospace;
  font-weight: 400;
  transition: all 0.3s ease;
  font-size: 28px;
}
  /*.capsule {
    position: relative;
    display: inline-block;
    background-color: #dedede6c; /* Couleur de fond 
    color: #8db1e8; /* Couleur du texte 
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 40px; /* Ajout d'espace autour du texte 
    text-align: center;
    transition: all 0.3s ease;

    /* Forme d'étoile légèrement arrondie 
    clip-path: polygon(
        50% 0%, 62% 35%, 100% 35%, 
        70% 60%, 80% 100%, 50% 75%, 
        20% 100%, 30% 60%, 0% 35%, 
        38% 35%
    );
    
    /* Ajout de coins arrondis 
    border-radius: 100px ;
}*/


/*.capsule::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #5c5a5abf;
    font-weight: bold;
    transition: opacity 0.s ease;
}

.capsule:hover::after {
    opacity: 1;
}

.capsule:hover {
    color: #ffe3fc;
}*/


.index .grid{
    display: grid;
    /* grid-column: 3 ; */
    margin: 0px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
   /* grid-template-columns: repeat(3,1fr);*/
    justify-content: center;
    gap: 10px;
}


.projet-large{
    grid-column: span 2;

}
.item{
    display:grid;
    width: fit-content;
    background: #ffffff;
    text-decoration: none;
  }
  
  .item>*{
    grid-column: 1;
    grid-row:1;
    justify-self:center;
    align-self:center;
    color:#000000;
    transition:0.8s;
  }
  .item p{
    font-size: 20px;
    opacity:0;

  }
  .item:hover img{
    opacity:0.5;
    cursor: url('img/curseur-1.png') 10 10 , auto ; 
  
  }
  .item:hover p{
    opacity:0.7;
    cursor: url('img/curseur-1.png') 10 10 , auto ;
  }


.project .grid{
    display: grid;
    /* max-width: 800px; */
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
   /* grid-template-columns: repeat(3,1fr);*/
    justify-content: center;
    gap:10px; 
}
.project .grid>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.desc{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 15px; /* Espace entre le bandeau et le début des paragraphes */
    padding: 0 20px;
}
[lang="fr"]{,
    font-weight: regular;
    color: rgb(0, 0 , 0);
} 

[lang="en"],
.credit {
    font-weight: 100;
    color: rgb(145, 142, 142);
}
.footer {
  background-color: #ffffff;
  color: rgb(145, 142, 142);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.gif-resize {
  width: 600px; /* Largeur souhaitée */
  height: auto; /* Ajuste la hauteur proportionnellement */
  max-width: 100%; /* Pour s'assurer que le GIF ne dépasse pas la largeur du conteneur */
  display: block; /* Pour corriger l'espacement indésirable dans les mises en page inline */
  margin: 0 auto;
}

/* Conteneur principal */
/*  */

/* Colonnes */
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.column-fr {
  grid-column: span 1; /* Fusionne sur 2 colonnes */
}

/* Cellules */
.cell {
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.about-section {
  min-height: calc(100vh - 180px);
}

/* Conteneur principal */
.about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}


/* Colonnes de gauche et du milieu regroupées */
.about-columns {
  grid-template-columns: 1fr 1fr 3fr;
  gap:24px 0;
  align-items: start;
  align-content: start;
  /* gap: 20px; Espacement entre les cellules */
}

@media (min-width:680px){
  .about-columns{
    display: grid;
  }
}

.about-video{
  grid-column: 3/4;
  grid-row: 1/4;
  align-self: end;
  justify-self: end;  
  width:50%;

}



.about-columns p,
.about-columns h3{
  padding:0 12px;
  font-size: 15px;
}


/* Filet sous les titres */
.about-subtitle-fr {
  font-family: helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ed85d5;
  border-bottom: 2px solid #f2bfee; /* Ligne discrète sous le titre */
  padding-bottom: 2px; /* Espacement sous la ligne */
}
.about-subtitle-en {
  font-family: helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ed85d551;
  border-bottom: 2px solid #f2bfee;
   /* Ligne discrète sous le titre */
  padding-bottom: 2px; /* Espacement sous la ligne */
}

/* Colonne droite : Vidéo */
.about-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.lien{
  color: #88a9d9; 
  text-decoration: none;

}




